<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>校园社团官网</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="../static/css/slick.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../static/images/fac.png">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main style="padding-bottom: 0" id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="index.html">
                                <img src="../static/images/menu_logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li><a href="/"><i class="fa fa-home fa-lg">&nbsp</i>首页</a>
                                        <!--<ul class="sub-menu">-->
                                            <!--<li><a href="index.html">Demo 1</a></li>-->
                                            <!--<li><a href="index.html">Demo 2</a></li>-->
                                            <!--<li><a href="index3.html">Demo 3</a></li>-->
                                        <!--</ul>-->
                                    </li>
                                    {% if uname %}
                                    <li><a href="#"><i class="fa fa-drivers-license-o">&nbsp</i>我的信息</a>
                                        <ul class="sub-menu">
                                            {% if is_super == 0 %}
                                                <li><a href="/regist_user">注册用户</a></li>
                                                <li><a href="/userlist">用户信息</a></li>

                                            {% else %}
                                                <li><a href="/base/{{cid}}">我的社团</a></li>
                                                <li><a href="/myinfo">修改信息</a></li>
                                                <li><a href="/updateinfo">填写部门</a></li>
                                                <li><a href="/send_public">发布公告</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li><a href="/community_home"><i class="fa fa-th-large">&nbsp</i>社团大厅</a>
                                        <!--<ul class="sub-menu">-->
                                            <!--<li><a href="/community_home">社团大厅</a></li>-->
                                            <!--<li><a href="/tipshome">公告大厅</a></li>-->
                                            <!--<li><a href="/data_home">资料大厅</a></li>-->
                                            <!--&lt;!&ndash;<li><a href="blog-3-column.html">3 Column</a></li>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<li><a href="single-post.html">Single Post</a></li>&ndash;&gt;-->
                                        <!--</ul>-->
                                    </li>
                                    <li><a href="/tipshome"><i class="fa fa-twitch">&nbsp</i>公告大厅</a></li>
                                    <li><a href="/data_home"><i class="fa fa-database">&nbsp</i>资料大厅</a></li>
                                    <!--<li><a href="other-features.html">Other Features</a></li>-->
                                </ul>
                            </nav>
                        </div>
                        <!-- SOCIAL MEDIA ICONS -->
                        <div id="eskimo-social-cell" class="mt-auto w-100">
                            <div id="eskimo-social-inner">
                                <ul class="eskimo-social-icons">
                                    <li>
                                        {% if uname %}
                                        <a href="">
                                        <!--<span style="color:red">user:</span>-->
                                            <i style="margin-right: 10px;line-height: 30px;" class="fa fa-user-circle-o"></i>
                                            {{uname}}
                                            </a>
                                        {% else %}
                                        <a href="/login">登陆</a>
                                        {% endif %}
                                    </li>
                                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                                    {% if uname %}
                                        <li><a href="/logout">注销</a></li>
                                    {% endif %}
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#" class="eskimo-panel-open"><i class="fa fa-user-circle-o"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div style="background: rgba(0, 123, 255, 0.55);" class="eskimo-page-title" id="title_top">
                    <h1><i class="fa fa-bank"></i><span>&nbsp社 团 大 厅</span></h1>
                    <div style="font-weight: 300" class="eskimo-page-title-meta">
                        <div class="eskimo-author-meta">
                            <i style="color: red" class="fa fa-heart"></i>
                            生活不止眼前的苟且，还有生活和远方，愿你最终能成为你想成为的人~
                        </div>

                    </div>
                </div>
                <!-- SLIDER WITH ONE POST -->
                <!--<div class="eskimo-carousel-container eskimo-bg-loader">-->
                    <!--<div id="eskimo-post-slider" class="eskimo-slider">-->
                        <!--&lt;!&ndash; SLIDE &ndash;&gt;-->
                        <!--<div>-->
                            <!--<a class="eskimo-slider-img" href=""></a>-->
                            <!--<ul class="eskimo-slider-image-meta eskimo-image-meta-post">-->
                                <!--<li>-->
                                    <!--<a href="#"><span class="badge badge-default">Feb 26, 2020</span></a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#"><span style="font-weight: 300" class="badge badge-default">青春 &amp; 活力</span></a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="clearfix"></div>-->
                            <!--<img src="/static/images/menu.jpg" alt="青春" />-->
                            <!--<div class="eskimo-slider-desc">-->
                                <!--<div class="eskimo-slider-desc-inner">-->
                                    <!--<h2 class="card-title">以梦为马，不负韶华</h2>-->
                                    <!--<p>年轻活力是我的资本，张扬个性凸显胆识是我的超越</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- BLOG POSTS -->
                <div class="eskimo-masonry-grid">
                    <div class="eskimo-two-columns" data-columns>
                        <!-- POST 1 -->
                        {% for i in response %}
                        {% if i[5] != 1004 %}
                        <div class="card-masonry">
                            <div class="card">
                                <a href="/base/{{ i[5] }}">
                                        <img class="card-vertical-img" src="../static/images/back_pack_1.jpg" alt="" />
                                    </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a>创始人: {{ i[2] }}</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="/base/{{ i[5] }}">{{ i[0] }}</a></h3>
                                        <p style="font-family: sans-serif">{{ i[1] }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            <a class="author-meta">创建时间: </a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a>{{ i[3] }}</a>
                                        </div>
                                        <div class="eskimo-reading-meta">🔥: &nbsp{{ i[4] }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <!-- POST 2 -->

                        <!-- POST 3 -->

                        <!-- POST 4 -->

                        <!-- POST 5 -->

                        <!-- POST 6 -->

                    </div>
                </div>
                <!-- VIEW ALL BUTTON -->
                <!--<div class="eskimo-view-more">-->
                    <!--<a style="color: wheat" class="btn btn-default" id="show_community"><i class="fa fa-plus"></i> 查看更多</a>-->
                <!--</div>-->

                <!-- DIVIDER -->
                <hr class="section-divider" />

                <!-- CAROUSEL -->
                <!--<div class="eskimo-widget-title">-->
                    <!--<h3 class="eskimo-carousel-title"><span>最新公告 </span><i style="color:red;" class="fa fa-volume-up"></i></h3>-->
                <!--</div>-->

                <!--<div style="margin-top: 40px" class="eskimo-view-more">-->
                    <!--<a style="color: wheat;width: 20%" class="btn btn-default" id="show_div"><i class="fa fa-plus"></i>查看更多</a>-->
                <!--</div>-->

            </div>
        </main>
        <!-- FOOTER -->
        <footer id="eskimo-footer">
            <div class="container">
                <div class="row eskimo-footer-wrapper">
                    <!-- FOOTER WIDGET 1 -->
                    <div style="flex: 0 0 100%;max-width: 100%" class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <h5 class="eskimo-title-with-border"><span style="font-weight: 300">每日一句</span></h5>
                        <p class="everyday_one">明月几时有？把酒问青天。不知天上宫阙，今夕是何年。我欲乘风归去，又恐琼楼玉宇，高处不胜寒。起舞弄清影，何似在人间。</p>
                        <p class="one_title">——《水调歌头·明月几时有》 苏轼</p>
                        <!--<p><a href="about.html" class="btn btn-default">Read More</a></p>-->
                    </div>
                    <!-- FOOTER WIDGET 2 -->


                </div>
                <!-- CREDITS -->
                <div class="eskimo-footer-credits">
                    <p>
                        <a href="http://www.bootstrapmb.com" target="_blank">友情链接&加入我们</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- SLIDE PANEL -->

    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="post" action="/search" class="eskimo-lg-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="输入社团名" name="s" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- JS FILES -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/salvattore.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/panel.js"></script>
    <script src="../static/js/reading-position-indicator.js"></script>
    <script src="../static/js/custom.js"></script>
    <!-- POST SLIDER -->
</body>

</html>