<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>校园社团官网</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="../static/css/featherlight.css" rel="stylesheet" type="text/css">
    <link href="../static/css/rrssb.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/image_css.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../static/images/fac.png">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="index.html">
                                <img src="../static/images/menu_logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li><a href="/"><i class="fa fa-home fa-lg">&nbsp</i>首页</a>
                                        <!--<ul class="sub-menu">-->
                                            <!--<li><a href="index.html">Demo 1</a></li>-->
                                            <!--<li><a href="index.html">Demo 2</a></li>-->
                                            <!--<li><a href="index3.html">Demo 3</a></li>-->
                                        <!--</ul>-->
                                    </li>
                                    {% if uname %}
                                    <li><a href="#"><i class="fa fa-drivers-license-o">&nbsp</i>我的信息</a>
                                        <ul class="sub-menu">
                                            {% if is_super == 0 %}
                                                <li><a href="/regist_user">注册用户</a></li>
                                                <li><a href="/userlist">用户信息</a></li>

                                            {% else %}
                                                <li><a href="/base/{{cid}}">我的社团</a></li>
                                                <li><a href="/myinfo">修改信息</a></li>
                                                <li><a href="/updateinfo">填写部门</a></li>
                                                <li><a href="/send_public">发布公告</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li><a href="/community_home"><i class="fa fa-th-large">&nbsp</i>社团大厅</a>
                                        <!--<ul class="sub-menu">-->
                                            <!--<li><a href="/community_home">社团大厅</a></li>-->
                                            <!--<li><a href="/tipshome">公告大厅</a></li>-->
                                            <!--<li><a href="/data_home">资料大厅</a></li>-->
                                            <!--&lt;!&ndash;<li><a href="blog-3-column.html">3 Column</a></li>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<li><a href="single-post.html">Single Post</a></li>&ndash;&gt;-->
                                        <!--</ul>-->
                                    </li>
                                    <li><a href="/tipshome"><i class="fa fa-twitch">&nbsp</i>公告大厅</a></li>
                                    <li><a href="/data_home"><i class="fa fa-database">&nbsp</i>资料大厅</a></li>
                                    <!--<li><a href="other-features.html">Other Features</a></li>-->
                                </ul>
                            </nav>
                        </div>
                        <!-- SOCIAL MEDIA ICONS -->
                        <div id="eskimo-social-cell" class="mt-auto w-100">
                            <div id="eskimo-social-inner">
                                <ul class="eskimo-social-icons">
                                    <li>
                                        {% if uname %}
                                        <a href="">
                                        <!--<span style="color:red">user:</span>-->
                                            <i style="margin-right: 10px;line-height: 30px;" class="fa fa-user-circle-o"></i>
                                            {{uname}}
                                            </a>
                                        {% else %}
                                        <a href="/login">登陆</a>
                                        {% endif %}
                                    </li>
                                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                                    {% if uname %}
                                        <li><a href="/logout">注销</a></li>
                                    {% endif %}
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#" class="eskimo-panel-open"><i class="fa fa-user-circle-o"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1><i class="fa fa-steam"></i><span id="community_name">&nbsp{{ all_information[1] }}</span></h1>
                    <div style="font-weight: 300" class="eskimo-page-title-meta">
                        <div class="eskimo-author-meta">
                            创始人:
                        </div>
                        <div class="eskimo-cat-meta" id="founder">
                            {{ all_information[3] }}
                        </div>
                        <div class="eskimo-author-meta">成立时间: </div>
                        <div class="eskimo-cat-meta">{{ all_information[6] }}</div>
                        <div class="eskimo-date-meta">目前人数: </div>
                        <div class="eskimo-reading-meta">{{ all_information[4] }}</div>
                    </div>
                </div>
                <!-- FEATURED IMAGE -->
                <div class="eskimo-featured-img">
                    <img src="{{ all_information[2] }}" alt="" />
                </div>
                <!-- POST CONTENT -->
                <div class="eskimo-page-content">
                    <h3 class="community_title"><i class="fa fa-fw fa-file-text-o"></i> 社团简介</h3>
                    <hr class="bottom_line">
                    <blockquote>
                        <p>{{ all_information[5] }}</p>
                    </blockquote>

                    <h3 class="community_title"><i class="fa fa-fw fa-group"></i> 部门介绍</h3>
                    <hr style="border-top: 1px solid blueviolet" class="bottom_line">

                    {% for num in all_dep %}
                    <h4 style="font-size: 18px;margin-top: 1em" class="community_title"><i class="fa fa-gg"></i> {{ num[0] }}</h4>
                    <blockquote style="border-left: 4px solid blueviolet;margin-top: 1em">
                        <p>{{ num[1] }}</p>
                    </blockquote>
                    {% endfor %}

                    <h3 class="community_title"><i class="fa fa-picture-o"></i> 社团生活</h3>
                    <hr style="border-top: 1px solid green" class="bottom_line">
                    <!-- IMAGE GALLERY -->
                    <div class="eskimo-masonry-grid eskimo-gallery">
                        <div class="eskimo-three-columns" data-columns>
                            <!-- GALLERY ITEM 1 -->
                            {% for i in images_life %}
                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="../static/uploads/every_life/{{ i }}" class="eskimo-lightbox">
                                    <img src="../static/uploads/every_life/{{ i }}" alt="" />
                                    <!--<img src="../static/uploads/2018/05/blog18-900x600.jpg" alt="" />-->
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                            {% if uname == founder %}
                        <div class="main">
                            <div id="showimg">
                                <ul id="showui">
                                </ul>
                                <div id="showinput">

                                </div>
                            </div>
                            <div class="upimg" style="margin: 0 auto;border-radius: 50%;">
                                <input type="file" id="upgteimg" value="" multiple />
                            </div>
                            <div style="text-align: center">
                                <button style="margin-top: 15px;border: none;border-radius: 5px!important;" class="btn" id="submit">开始上传</button>
                            </div>
                        </div>
                            {% endif %}

                    </div>


                    <h3 class="community_title"><i class="fa fa-camera-retro"></i> 社团生活照</h3>
                    <hr style="border-top: 1px solid green" class="bottom_line">
                    <div class="eskimo-masonry-grid eskimo-gallery">
                        <div class="eskimo-three-columns" data-columns>
                            <!-- GALLERY ITEM 1 -->
                            {% for j in images_file_2 %}
                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="../static/uploads/linshi/{{ j }}" class="eskimo-lightbox">
                                    <img src="../static/uploads/linshi/{{ j }}" alt="" />
                                    <!--<img src="../static/uploads/2018/05/blog18-900x600.jpg" alt="" />-->
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div id="linshi_photo" style="display: none">
                            <a style="display: block;width: 10%;margin: auto;border-radius: 5px!important;margin-top: 10px;" id="send_linshiphoto" class="btn btn-outline-primary btn-lg">提交照片</a>
                        </div>

                        {% if uname == founder %}
                        <div id="camera">
                            <div id="contentHolder">
                                <video id="video" width="300" height="300" autoplay></video>
                                <canvas style="display:none;" id="canvas" width="300" height="300"></canvas>
                            </div>
                            <div id="btn_snap">拍照</div>
                        </div>
                        {% endif %}

                    </div>

                    <div class="clearfix"></div>
                    <!-- TAGS -->

                    <h3 class="community_title" style="margin-top: 60px;"><i class="fa fa-fw fa-thumbs-up"></i> 社团成就</h3>
                    <hr class="bottom_line" style="border-top: 1px solid #dc3545c2;">
                    <blockquote style="border-left: 4px solid #dc3545c2;">
                        <p>{{ all_information[8] }}</p>
                    </blockquote>
                    <!-- POST NAVIGATION -->

                </div>
                <div class="clearfix"></div>
                <hr />

                <!--<div style="height: 500px;">-->

                <!--</div>-->

                <!-- COMMENTS -->
                <div id="eskimo-comments-wrapper">
                    <div id="eskimo_comments_block" class="eskimo_comments_block">
                        <h3 class="eskimo-title-with-border">
                            <span>关于我们</span>
                        </h3>
                        <div class="eskimo_commentlist">
                            <h4 style="font-size: 20px"><i class="fa fa-universal-access fa-2x"></i> 怎么样，想加入我们吗？赶快申请吧!</h4>
                            <!-- COMMENT 1 -->
                            <!-- COMMENT 2 -->
                            <p style="margin-top: 80px;margin-bottom: 0;text-align: center">
                                <!--<a style="margin-left: 25%" href="#" class="btn btn-outline-primary btn-lg">申请加入</a>-->
                                <button style="color: black" id="click_good" class="btn btn-outline-danger btn-lg"><i class="fa fa-heart-o"></i> 点赞(<span id="number">{{hots}}</span>)</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>



        <!-- FOOTER -->
        <footer id="eskimo-footer">
            <div class="container">

                <!-- CREDITS -->
                <div class="eskimo-footer-credits">
                    <p>
                        <a href="http://www.bootstrapmb.com" target="_blank">友情链接&加入我们</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- SLIDE PANEL -->


    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="post" action="/search" class="eskimo-lg-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="输入社团名" name="s" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- JS FILES -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/salvattore.min.js"></script>
    <script src="../static/js/panel.js"></script>
    <script src="../static/js/reading-position-indicator.js"></script>
    <script src="../static/js/rrssb.min.js"></script>
    <script src="../static/js/featherlight.js"></script>
    <script src="../static/js/custom.js"></script>
    <script type="text/javascript" src="../static/js/updateimg.js"></script>

    <!--js控制点赞-->
    <script type="text/javascript">
        var wait = 3;
        // var hots = $("#number").html();
        var founder = $("#founder").html();
        document.getElementById("click_good").onclick = function () {
            time(this);
        };
            function time(o) {
                if (wait == 0) {
                    o.disabled=false;
                    data_data = JSON.stringify({'founder':founder});
                    $.ajax({
                        type:'POST',
                        contentType:'application/json; charset = UTF-8',
                        dataType: 'json',
                        url: '/hots',
                        data: data_data,
                        timeout: 1000,
                        success: function (data) {
                            if (data['err'] === 0){
                                o.innerHTML="<i class=\"fa fa-heart-o\"></i> 点赞(<span id=\"number\"></span>)";
                                $("#number").text(data['num']);
                            }
                            else{
                                alert('点赞失败！');
                            }
                        },
                        error:function () {}
                    });
                    wait = 5;
                } else {
                    o.disabled=true;
                    o.innerHTML = wait + "秒后可以点赞";
                    wait--;
                    setTimeout(function() {
                    time(o)
            }, 1000)
         }
            }
    </script>

    <script>
    var canvas = document.getElementById("canvas"),
        pzBtn = document.getElementById("btn_snap"),
        context = canvas.getContext("2d"),
        video = document.getElementById("video");
    // alert('该页面会调用您的摄像头');
    // 旧版本浏览器可能根本不支持mediaDevices，我们首先设置一个空对象
    if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
    }
    // 一些浏览器实现了部分mediaDevices，我们不能只分配一个对象
    // 使用getUserMedia，因为它会覆盖现有的属性。
    // 这里，如果缺少getUserMedia属性，就添加它。
    if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function (constraints) {
            // 首先获取现存的getUserMedia(如果存在)
            var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            // 有些浏览器不支持，会返回错误信息
            // 保持接口一致
            if (!getUserMedia) {
                return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
            }
            //否则，使用Promise将调用包装到旧的navigator.getUserMedia
            return new Promise(function (resolve, reject) {
                getUserMedia.call(navigator, constraints, resolve, reject);
            });
        }
    }
    var constraints = { audio: false, video: {width: 720,height:720} };
    navigator.mediaDevices.getUserMedia(constraints)
        .then(function (stream) {
            var video = document.querySelector('video');
            // 旧的浏览器可能没有srcObject
            if ("srcObject" in video) {
                video.srcObject = stream;
            } else {
                //避免在新的浏览器中使用它，因为它正在被弃用。
                video.src = window.URL.createObjectURL(stream);
            }
            video.onloadedmetadata = function (e) {
                video.play();
            };
        })
        .catch(function (err) {
            console.log(err.name + ": " + err.message);
        });



    pzBtn.addEventListener("click", function () {
        //显示
        $("#linshi_photo").css('display','block');
        // 点击，canvas画图
        context.drawImage(video, 0, 0, 300, 300);
        // 获取图片base64链接
        var image = canvas.toDataURL('image/png');
        // 定义一个img
        var img = new Image();
        //设置属性和src
        img.id = "imgBoxxx";
        img.src = image;
        //将图片添加到页面中
        var oDiv=document.getElementById('linshi_photo');
        oDiv.appendChild(img);
        // document.body.appendChild(img);

        // base64转文件
        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, {type: mime});
        }
        console.log(dataURLtoFile(image, 'aa.png'));
    });
</script>
<script>
    $("#send_linshiphoto").click(function () {
        var img = $("#linshi_photo img");
        var images = [];

        for (i=0;i<img.length;i++){
            // console.log(img[i].src);
            images.push(img[i].src);
            // console.log(images)
        }
        var community = $('#community_name').html();
        img = {'community':community,"image":images};
        data_img = JSON.stringify(img);
        $.ajax({
            type:'POST',
            contentType:'application/json; charset = UTF-8',
            dataType: 'json',
            url: '/linshi_photo',
            data: data_img,
            timeout: 1000,
            success: function (data) {
                if (data['err'] === 0){
                    alert('上传成功！');
                }
                else{
                    alert('上传失败！');
                }
            },
            error:function () {
                alert('系统错误！');
            }
        })
    })
    
</script>

</body>
</html>