<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>校园社团官网</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="../static/css/featherlight.css" rel="stylesheet" type="text/css">
    <link href="../static/css/rrssb.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../static/images/fac.png">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="index.html">
                                <img src="../static/images/menu_logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li><a href="/"><i class="fa fa-home fa-lg">&nbsp</i>首页</a>
                                        <!--<ul class="sub-menu">-->
                                            <!--<li><a href="index.html">Demo 1</a></li>-->
                                            <!--<li><a href="index.html">Demo 2</a></li>-->
                                            <!--<li><a href="index3.html">Demo 3</a></li>-->
                                        <!--</ul>-->
                                    </li>
                                    <li><a href="#"><i class="fa fa-drivers-license-o">&nbsp</i>我的信息</a>
                                        <ul class="sub-menu">
                                            <li><a href="/cname" target="_blank">摄像头</a></li>
                                            <li><a href="about-2.html">Demo 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="fa fa-th-large">&nbsp</i>信息大厅</a>
                                        <ul class="sub-menu">
                                            <li><a href="/community_home">社团大厅</a></li>
                                            <li><a href="/tipshome">公告大厅</a></li>
                                            <li><a href="/data_home">资料大厅</a></li>
                                            <!--<li><a href="blog-3-column.html">3 Column</a></li>-->
                                            <!--<li><a href="single-post.html">Single Post</a></li>-->
                                        </ul>
                                    </li>
                                    <!--<li><a href="galleries.html">Galleries</a></li>-->
                                    <!--<li><a href="other-features.html">Other Features</a></li>-->
                                </ul>
                            </nav>
                        </div>
                        <!-- SOCIAL MEDIA ICONS -->
                        <div id="eskimo-social-cell" class="mt-auto w-100">
                            <div id="eskimo-social-inner">
                                <ul class="eskimo-social-icons">
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#" class="eskimo-panel-open"><i class="fa fa-user-circle-o"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1><i class="fa fa-steam"></i><span>&nbsp{{ all_information[1] }}</span></h1>
                    <div style="font-weight: 300" class="eskimo-page-title-meta">
                        <div class="eskimo-author-meta">
                            创始人:
                        </div>
                        <div class="eskimo-cat-meta">
                            {{ all_information[2] }}
                        </div>
                        <div class="eskimo-author-meta">成立时间: </div>
                        <div class="eskimo-cat-meta">{{ all_information[5] }}</div>
                        <div class="eskimo-date-meta">目前人数: </div>
                        <div class="eskimo-reading-meta">{{ all_information[3] }}</div>
                    </div>
                </div>
                <!-- FEATURED IMAGE -->
                <div class="eskimo-featured-img">
                    <img src="../static/images/back_pack_1.jpg" alt="" />
                </div>
                <!-- POST CONTENT -->
                <div class="eskimo-page-content">
                    <h3 class="community_title"><i class="fa fa-fw fa-file-text-o"></i> 社团简介</h3>
                    <hr class="bottom_line">
                    <blockquote>
                        <p>{{ all_information[4] }}</p>
                    </blockquote>

                    <h3 class="community_title"><i class="fa fa-fw fa-group"></i> 部门介绍</h3>
                    <hr style="border-top: 1px solid blueviolet" class="bottom_line">

                    {% for num in all_dep %}
                    <h4 style="font-size: 18px;margin-top: 1em" class="community_title"><i class="fa fa-gg"></i> {{ num[0] }}</h4>
                    <blockquote style="border-left: 4px solid blueviolet;margin-top: 1em">
                        <p>{{ num[1] }}</p>
                    </blockquote>
                    {% endfor %}

                    <h3 class="community_title"><i class="fa fa-camera-retro"></i> 社团生活</h3>
                    <hr style="border-top: 1px solid green" class="bottom_line">
                    <!-- IMAGE GALLERY -->
                    <div class="eskimo-masonry-grid eskimo-gallery">
                        <div class="eskimo-three-columns" data-columns>
                            <!-- GALLERY ITEM 1 -->
                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="../static/images/back_pack_1.jpg" class="eskimo-lightbox">
                                    <img src="../static/images/back_pack_1.jpg" alt="" />
                                    <!--<img src="../static/uploads/2018/05/blog18-900x600.jpg" alt="" />-->
                                </a>
                            </div>

                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="../static/images/back_pack_1.jpg" class="eskimo-lightbox">
                                    <img src="../static/images/back_pack_1.jpg" alt="" />
                                    <!--<img src="../static/uploads/2018/05/blog18-900x600.jpg" alt="" />-->
                                </a>
                            </div>

                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="../static/images/back_pack_1.jpg" class="eskimo-lightbox">
                                    <img src="../static/images/back_pack_1.jpg" alt="" />
                                    <!--<img src="../static/uploads/2018/05/blog18-900x600.jpg" alt="" />-->
                                </a>
                            </div>

                            <div class="eskimo-gallery-item">
                                <a href="#" data-featherlight="../static/images/back_pack_1.jpg" class="eskimo-lightbox">
                                    <img src="../static/images/back_pack_1.jpg" alt="" />
                                    <!--<img src="../static/uploads/2018/05/blog18-900x600.jpg" alt="" />-->
                                </a>
                            </div>
                            <!-- GALLERY ITEM 2 -->

                            <!-- GALLERY ITEM 3 -->

                            <!-- GALLERY ITEM 4 -->

                            <!-- GALLERY ITEM 5 -->

                            <!-- GALLERY ITEM 6 -->

                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <!-- TAGS -->

                    <!-- Responsive Social Sharing Buttons -- https://github.com/kni-labs/rrssb -->

                    <!-- POST NAVIGATION -->

                </div>
                <div class="clearfix"></div>
                <hr />

                <!--<div style="height: 500px;">-->

                <!--</div>-->

                <!-- COMMENTS -->
                <div id="eskimo-comments-wrapper">
                    <div id="eskimo_comments_block" class="eskimo_comments_block">
                        <h3 class="eskimo-title-with-border">
                            <span>关于我们</span>
                        </h3>
                        <div class="eskimo_commentlist">
                            <h4 style="font-size: 20px"><i class="fa fa-universal-access fa-2x"></i> 怎么样，想加入我们吗？赶快申请吧!</h4>
                            <!-- COMMENT 1 -->
                            <!-- COMMENT 2 -->
                            <p style="margin-top: 80px;margin-bottom: 0">
                                <a style="margin-left: 25%" href="#" class="btn btn-outline-primary btn-lg">申请加入</a>
                                <button id="click_good" style="margin-left: 25%"  class="btn btn-outline-danger btn-lg"><i class="fa fa-heart-o"></i> 点赞(<span id="number">598</span>)</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--<div id="eskimo_comment_form" class="eskimo_comment_form">-->
                    <!--<h3>Leave a Reply</h3>-->
                    <!--<form action="single-post.html" method="post" id="commentform">-->
                        <!--<p><textarea id="comment" name="comment" cols="45" rows="8" required="required"></textarea></p>-->
                        <!--<input name="submit" type="submit" id="submit" class="btn btn-default" value="Post Comment" />-->
                    <!--</form>-->
                <!--</div>-->

            </div>

        </main>



        <!-- FOOTER -->
        <footer id="eskimo-footer">
            <div class="container">

                <!-- CREDITS -->
                <div class="eskimo-footer-credits">
                    <p>
                        <a href="http://www.bootstrapmb.com" target="_blank">友情链接&加入我们</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- SLIDE PANEL -->


    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="get" action="search.html" class="eskimo-lg-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter a keyword..." name="s" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- JS FILES -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/salvattore.min.js"></script>
    <script src="../static/js/panel.js"></script>
    <script src="../static/js/reading-position-indicator.js"></script>
    <script src="../static/js/rrssb.min.js"></script>
    <script src="../static/js/featherlight.js"></script>
    <script src="../static/js/custom.js"></script>

    <!--js控制点赞-->
    <script type="text/javascript">
        var wait = 3;
        var hots = 'hots';
        document.getElementById("click_good").onclick = function () {
            time(this);
        };
            function time(o) {
                if (wait == 0) {
                    o.disabled=false;
                    $.ajax({
                        type:'GET',
                        contentType:'application/json; charset = UTF-8',
                        dataType: 'json',
                        url: '/hots',
                        data: {"hots":hots},
                        timeout: 1000,
                        success: function (data) {
                            if (data['err'] === 0){
                                o.innerHTML="<i class=\"fa fa-heart-o\"></i> 点赞(<span id=\"number\"></span>)";
                                $("#number").text(data['num']);
                            }
                            else{
                                alert('点赞失败！');
                            }
                        },
                        error:function () {}
                    });
                    wait = 3;
                } else {
                    o.disabled=true;
                    o.innerHTML = wait + "秒后可以点赞";
                    wait--;
                    setTimeout(function() {
                    time(o)
            }, 1000)
         }
            }
    </script>
</body>
</html>