<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dynamic focus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,700&amp;display=swap'>
  <link rel="stylesheet" href="../static/css/style_2.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="sendmain">
<form autocomplete="off" class="sendmyself">
    <div id="focus"></div>
    <h1 class="info_title">输入你的申请信息</h1>
    <input type="text" half placeholder="First name" autocomplete="no" class="input_information">
    <input type="text" half placeholder="Last name" autocomplete="no" class="input_information">
    <input type="text" placeholder="Address" autocomplete="no" class="input_information">
    <input type="text" half placeholder="Zip code" autocomplete="no" class="input_information">
    <input type="text" half placeholder="City" autocomplete="no" class="input_information">
    <input type="text" placeholder="Mail" autocomplete="no" class="input_information">
    <input type="submit" value="提交审核" id="send_information">
</form>
</div>
<!-- partial -->
<script src='../static/js/jquery-3.3.1.min.js'></script><script  src="../static/js/script.js"></script>

</body>
</html>